<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>自己判定</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- <style rel="stylesheet" type="text/css"　href="cmn.css"></style> -->
  <style type="text/css">
    #result {
      background-color: red;
    }

    .org-menu-btn:hover {
      background-color: #529df0;
      transition: .5s;
      transform: scale(1.05,1.05);
    }
    .fixed-panel {
      height: 200px;
      min-height: 10;
      max-height: 10;
      overflow-y: scroll;
    }
  </style>
</style>
</head>
<body onload="create_dummy_code()">

  <header>
    <h1>横浜市自己判定プトロコル</h1>
    <div align="right">
      <p>Mmmmmmm Mmmmmmmmmmmmm</p>
      <p>Mmmmmmm Mmmmmmmmmmmmm</p>
      <p>Mmmmmmm Mmmmmmmmmmmmm</p>      
    </div>
  </header>
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- 2.ヘッダ情報 -->
      <div class="navbar-header">
        <a class="navbar-brand" href="index.ejs">横浜市　自己判定システム</a>
      </div>
      <!-- 3.リストの配置 -->
      <ul class="nav navbar-nav">
        <li><a href="#">お知らせ</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="" align="center">
        <h1>緊急度</h1>  
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="">
        <div class="panel" id="result">
          <div class="panel-body" align="center">
            <h1 >緊急</h1>  
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="" align="center">
        <h3>直ちに受信が必要です。</h3>
        <h3>今すぐ救急車などで病院に受信してください。</h3>
      </div>
      <br>
      <br>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="">
        <h1 align="center" >緊急度コード</h1>  
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="">
        <div class="panel">
          <div class="panel-body" id="emergency-code"  align="center">
          </div>
        </div>
      </div>
       <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="">
        <h1 align="center" >判定コード</h1>  
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="">
        <div class="panel">
          <div class="panel-body" id="result-code"  align="center">
          </div>
        </div>
      </div>

      <div class="hidden-xs hidden-sm col-md-12 col-lg-12" style="">
        <button class="btn btn-default">
          <h2>救急車(119番)を呼ぶ</h2>  
        </button>
        <button class="btn btn-default">
          <h2>相談(#7119)する</h2>  
        </button>
        <button class="btn btn-default">
          <h2>自力で病院に行く</h2>  
        </button>
        <button class="btn btn-default">
          <h2>何もしない</h2>  
        </button>
        <button class="btn btn-default">
          <h2>アプリテスト</h2>  
        </button>
      </div>

      <div class="hidden-xs hidden-sm col-md-12 col-lg-12 center-block" style="">
        <button class="btn btn-default center-block">
          <h1 >結果を印刷</h1>  
        </button>
      </div>
    </div>
  </div>

  <footer>
    <h3>footer here</h3>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    var original_random = Math.random;
    function create_dummy_code(){
    // 生成する文字列の長さ
    var l = 5;
    var el = 7;

// 生成する文字列に含める文字セット
var c = "ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnpqrstuvwxyz23456789";
var n = "0123456789";

var cl = c.length;
var r = "";
for(var i=0; i<l; i++){
  r += c[Math.floor(Math.random()*cl)];
}
document.getElementById( 'emergency-code' ).innerHTML = "<h1>" + r + "</h1>";

var nl = n.length;
var nr = "";
for(var j=0; j<el; j++){
  nr += n[Math.floor(Math.random()*nl)];
}
document.getElementById( 'result-code' ).innerHTML = "<h1>" + nr + "</h1>";
}
</script>
</body>
</html>